*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

nav{
    padding: 10px;
    margin-inline: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
}

.logo{
    text-align: center;
}
.quiensoy{
    display: flex;
    align-items: center;
    text-align: center;
}
.teoagua{
    justify-content: center;
}
.parrafo{
    text-align: left;
}

h1{
    margin: 50px;
    color: white;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: white;
    text-decoration: underline;
    margin-block: 20px;
}

.parrafo{
    color: whitesmoke;
    font-size: 15px;
    text-align: left;
    font-family: sans-serif;
    font-weight: bolder;
}

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: solid white;
}
.remera{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}
.buzo{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}
.gorra{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}
.llavero{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "teo1 teo2"
    "teo3 teo4"
    "teo5";
}

.teo1{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo2{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo3{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo4{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo5{
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.recitales{
margin-right: 350px;
margin-block: 100px;
padding-left: 400px;
}

.formulario{
    padding-bottom: 10px;
    padding-inline: 250px;
    border: 0px;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

footer{
    background-color: yellowgreen;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1024px) {
    .productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border: solid white;
    }
    .remera{
        width: 700px;
        height: 800px;
        margin-top: 15px;
    }
    .buzo{
        width: 700px;
        height: 800px;
        margin-top: 15px;
    }
    .llavero{
        width: 700px;
        height: 800px;
        margin-top: 15px;
    }
    .gorra{
        width: 700px;
        height: 800px;
        margin-top: 15px;
    }
    .llavero{
        width: 700px;
        height: 800px;
        margin-top: 15px;
    }

    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "teo1 teo2"
        "teo3 teo4"
        "teo6";
    }
    .teo1{
        width: 500px;
        height: 500px;
        margin-top: 15px;
    }
    .teo2{
        width: 500px;
        height: 500px;
        margin-top: 15px;
    }
    .teo3{
        width: 500px;
        height: 500px;
        margin-top: 15px;
    }
    .teo4{
        width: 500px;
        height: 500px;
        margin-top: 15px;
    }
    .teo5{
        width: 500px;
        height: 500px;
        margin-top: 15px;
    }
    .recitales{
        margin-block: 0;
        padding-left: 2px;
    }
    .quiensoy{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "parrafo"
        "teoagua";
    }
    .teoagua{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border: solid white;
    }
    .remera{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .buzo{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .gorra{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .llaver{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }

    .galeria{
        padding-left: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .teo1{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .teo2{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .teo3{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .teo4{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .teo5{
        width: 700px;
        height: 500px;
        margin-top: 15px;
    }
    .recitales{
        margin-block: 0;
        padding-left: 2px;
    }
    .quiensoy{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "parrafo"
        "teoagua";
    }
    .teoagua{
    width: 600px;
    height: 500px;
    margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .encabezado{
        width: 450px;
        height: 300px;
    }
    .productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border: solid white;
    }
    .remera{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .buzo{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .gorra{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .llavero{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .teo1{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .teo2{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .teo3{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .teo4{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }
    .teo5{
        width: 400px;
        height: 300px;
        margin-top: 15px;
    }

    .recitales{
        margin-block: 0;
        padding-left: 2px;
    }
    .velez{
        width: 450px;
        height: 200px;
        margin-top: 15px;
    }
    .colon{
        width: 450px;
        height: 200px;
        margin-top: 15px;
    }    
    .flores{
        width: 450px;
        height: 200px;
        margin-top: 15px;
    }
        .opera{
        width: 450px;
        height: 200px;
        margin-top: 15px;
    }
        .vorterix{
        width: 450px;
        height: 200px;
        margin-top: 15px;
    }

    .quiensoy{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "parrafo"
        "teoagua";
    }
    .teoagua{
        width: 400px;
        height: 400px;
        margin-top: 15px;
    }
    .formulario{
        padding-left: 50px;
    }
}