*{
    padding: 0;
    margin: 0;
}

.encabezado{
    margin: -4px;
    text-align: center;
}

body{
    background-color: black;
}

nav{
    padding: 10px;
    margin-inline: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
}

.quiensoy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.teoagua{
    justify-content: center;
}
.parrafo{
    text-align: left;
}

h1{
    margin: 50px;
    color: white;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: white;
    text-decoration: underline;
    margin-block: 20px;
}

.parrafo{
    color: whitesmoke;
    font-size: 15px;
    text-align: left;
    font-family: sans-serif;
    font-weight: bolder;
}

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: solid white;
}
.remera{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}
.buzo{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}
.gorra{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}
.llavero{
    border: 2px solid white;
    justify-content: center;
    text-align: center;
}

.fotos{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: 
"teo1 teo2"
"teo3 teo4"
"teo5";
}
.teo1{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo2{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo3{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo4{
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.teo5{
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.shows{
margin-right: 350px;
margin-block: 100px;
padding-left: 400px;
}

.formulario{
    padding-bottom: 10px;
    padding-inline: 250px;
    border: 0px;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.redes{
    margin: 0;
    background-color: yellowgreen;
    text-align: center;
    padding: 20px;
}